<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1571.vb_423c255d6d9">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2277.v00573e73ddf1"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2277.v00573e73ddf1">
      <jobProperties>
        <string>org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty</string>
        <string>jenkins.model.BuildDiscarderProperty</string>
      </jobProperties>
      <triggers/>
      <parameters>
        <string>BRANCH</string>
        <string>ARTIFACT_FORMAT</string>
        <string>SIGNING</string>
        <string>UNITY_VERSION</string>
        <string>VERSION_CODE</string>
        <string>CLEAN_LIBRARY</string>
        <string>APP_VERSION</string>
      </parameters>
      <options>
        <string>skipDefaultCheckout</string>
      </options>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>HEADSLING Android：独立 Addressables 构建与包内资源校验，支持 APK / AAB、Debug / Release 签名。Pipeline 与默认构建分支：main。</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty>
      <abortPrevious>false</abortPrevious>
    </org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
        <removeLastBuild>false</removeLastBuild>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <net.uaznia.lukanus.hudson.plugins.gitparameter.GitParameterDefinition plugin="git-parameter@462.463.v496a_59f698e5">
          <name>BRANCH</name>
          <description>Git branch to build.</description>
          <uuid>73db57db-7358-41ea-bff9-5f40660c1a9f</uuid>
          <type>PT_BRANCH</type>
          <tagFilter>*</tagFilter>
          <branchFilter>origin/(.*)</branchFilter>
          <sortMode>ASCENDING_SMART</sortMode>
          <defaultValue>main</defaultValue>
          <selectedValue>DEFAULT</selectedValue>
          <useRepository>https://github.com/bodacheng/HeadGame.git</useRepository>
          <quickFilterEnabled>true</quickFilterEnabled>
          <listSize>5</listSize>
          <requiredParameter>false</requiredParameter>
        </net.uaznia.lukanus.hudson.plugins.gitparameter.GitParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>UNITY_VERSION</name>
          <description>Unity version; must match ProjectVersion.txt.</description>
          <choices>
            <string>6000.5.1f1</string>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>APP_VERSION</name>
          <description>Android versionName.</description>
          <defaultValue>1.0</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>VERSION_CODE</name>
          <description>Positive Android versionCode; blank uses Jenkins BUILD_NUMBER.</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>ARTIFACT_FORMAT</name>
          <description>APK for installation; AAB for Google Play.</description>
          <choices>
            <string>APK</string>
            <string>AAB</string>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>SIGNING</name>
          <description>Release uses HEADSLING Android credentials in Jenkins.</description>
          <choices>
            <string>Debug</string>
            <string>Release</string>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>CLEAN_LIBRARY</name>
          <description>Delete the Unity Library cache before building.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@4259.vf653c2b_8a_b_69">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@5.10.0">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>https://github.com/bodacheng/HeadGame.git</url>
          <credentialsId>bodacheng</credentialsId>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/main</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="empty-list"/>
      <extensions/>
    </scm>
    <scriptPath>Jenkinsfile.android</scriptPath>
    <lightweight>true</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>